/* PADRÃO */

* {
  margin: 0;
  padding: 0;
  font-family: "Sono", sans-serif;
}

/* HEADER */

header {
  background-color: #333;
  color: white;
  text-align: center;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}

nav a:hover {
  text-decoration: underline;
}

.button-cart {
  display: flex;
}

.cart-count {
  display: inline-block;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  padding: 5px;
}

.cart-icon-container {
  position: absolute;
  /* colocar todo para direita */
}

.cart-icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* .cart-icon-button:hover .cart-count {
  background-color: #333;
  border: 1px solid black;
  color: #ffffff;
} */

.fa-shopping-cart {
  font-size: 24px;
  margin-right: 5px;
}

/* BODY */

body {
  height: 100vh;
}

#background {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: -1;
  border: none;
  pointer-events: none;
  opacity: 0.5;
  filter: blur(5px);
}

/* BODY - ITEMS */

.container-items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.product {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  /* width: 300px; */
}

.animations div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}

.animations div p {
  width: 40%;
}

.animations div input {
  width: 60%;
  height: 30px;
}

.product .product-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product .product-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product .product-footer button {
  margin: 5px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons-textures {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 6px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.buttons-textures li {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 15px;
  padding: 5px;
  margin: 0;
  border: none;
  cursor: pointer;
  list-style-type: none;
}

.buttons-textures li.selected {
  border: 1px solid black;
}

/* POPUP */

.cart-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;
}

.cart-popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.cart-popup-content h2 {
  margin-top: 0;
}

.cart-popup-content ul {
  list-style: none;
  padding: 0;
}

.cart-popup-content li {
  margin-bottom: 10px;
}

.close-popup {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.close-popup:hover {
  background-color: #ffffff;
  color: #ff0000;
}

/* FOOTER */

footer {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 0;
  bottom: 0;
}
